<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-between start" >
    <div fxFlex="30%" fxFlexFill>
      <span>Google Drive Permission Manager</span>
    </div>
    <div fxFlex="10%" fxFlexFill>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="login()">
        <mat-icon>login</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
